
  <!-- content-item.component.html -->

<div class="content-wrapper">
    <div class="row">
    <div class="section1 col">
    <h2>{{ title }}</h2>
    <h3>{{ subTitle }}</h3>
    <h4><span>Performer :</span> {{ performer }}</h4>
  
    <div class="my-4 carimg">
      <img [src]="imageSrc" class="" />
    </div>
  
    <div class="steps">
      <h3 class="mb-3">Steps :</h3>
      <ul class="list-unstyled ps-5">
        <li class="mb-2">
            <a class="" href="#" [attr.data-bs-toggle]="modalId" [attr.data-bs-target]="modalTarget">Patient assessment note</a>
        </li>
        <li class="mb-2">
            <a class="" href="#" [attr.data-bs-toggle]="modalId" [attr.data-bs-target]="modalTarget">Patient assessment note</a>
        </li>
        <li class="mb-2">
            <a class="" href="#" [attr.data-bs-toggle]="modalId" [attr.data-bs-target]="modalTarget">Patient assessment note</a>
        </li>
      </ul>
    </div>
  </div>

 <!-- carousel.component.html -->
 <div class="section2 col">
 <div class="flow-subheader">
    <div class="flow-subheader-inner text-center d-inline-block p-2">
      <ul class="nav nav-pills">
        <li class="nav-item me-3">
            <button class="nav-link" [class.active]="activeTab === 'video'" (click)="activeTab = 'video'">External Resource</button>
        </li>
        <li class="nav-item me-3">
            <button class="nav-link" [class.active]="activeTab === 'local'" (click)="activeTab = 'local'">Internal Resource</button>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="videobg">
    <div class="video" *ngIf="activeTab === 'video'">
      <div class="video-container" *ngFor="let video of videoData; let i = index">
        <div class="card" style="width: 30rem;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" [src]="video.safeSource" allowfullscreen></iframe>
            </div>
            <div class="card-body">
            <h5 class="card-title">{{ video.title }}</h5>
            <p class="card-text">{{ video.text }}</p>
            </div>
          </div>          
      </div>
    </div>
  
    <div class="local" *ngIf="activeTab === 'local'">
      <div class="video-container" *ngFor="let local of localData; let i = index">
        <div class="card" style="width: 30rem;">
          <video class="card-img-top" width="100%" height="180" controls>
            <source [src]="local.source" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="card-body">
            <h5 class="card-title">{{ local.title }}</h5>
            <p class="card-text">{{ local.text }}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>