// .content-outer-wrapper {
//     height: 100%;
//     width: 100%;
//     display: flex;
//     // justify-content: flex-start;  // Align children to the left
  
    .btntab{
        width: 350px;
    }
    .carimg{
        margin-left: 250px;
    }

.local,
.video {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    max-height: 550px; /* Set the maximum height for the container */
    overflow-y: auto; /* Add vertical scrollbar when content overflows */
    width: 500px;
    // box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.41);
    background-color: #fff;

}
.flow-subheader {
  margin-left: 43px;
  .flow-subheader-inner {
    // background: #fff;
    // z-index: 1;
    // position: relative;
    // box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.08);
    .nav-item {
      border: 1px solid #e20086;

      .nav-link {
        border-radius: 0;
        font-size: 1.3rem;
        font-weight: 500;
        color: #e20086;
      }

      .nav-link.active,
      .show > .nav-link {
        background: #e20086;
        color: #fff;
      }
    }
  }
}
.section2{
  margin-left: 13%;
}
/* WebKit Scrollbar Styles */
.local::-webkit-scrollbar,
.video::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

.local::-webkit-scrollbar-thumb,
.video::-webkit-scrollbar-thumb {
    background-color: #e20086; /* Set the color of the scrollbar thumb */
}

.local::-webkit-scrollbar-track,
.video::-webkit-scrollbar-track {
    background-color: #d2cfcf; /* Set the color of the scrollbar track */
}

.videos-active,
.youtube-active {
    background-color: #e20086;  /* Change the background color to pink */
    color: white;  /* Change the text color to white or any other color for better visibility */
  }
.video-container {
    margin-bottom: 15px; /* Optional: Add some space between video containers */
}
video,
iframe {
    width: 100%;
    height: 270px;
}

    // .container-fluid {
    //   width: 100%;
    // }
  
    // .carousel-indicators [data-bs-target] {
    //   width: 50px;
    //   height: 6px;
    //   margin-right: 5px;
    //   margin-left: 5px;
    //   background-color: #000000;
    // }
  
    // .carousel-control-prev,
    // .carousel-control-next {
    //   opacity: 1;
  
    //   .carousel-control-prev-icon,
    //   .carousel-control-next-icon {
    //     background: #e20086;
    //     width: 2.5rem;
    //     height: 2.5rem;
    //     box-shadow: 0px 8px 10px rgb(0 0 0 / 21%);
    //     transition: 0.5s ease;
  
    //     &:hover {
    //       box-shadow: 0px 2px 10px rgb(0 0 0 / 21%);
    //     }
  
    //     i {
    //       line-height: 2.5rem;
    //       font-size: 1.8rem;
    //       color: #fff;
    //     }
    //   }
    // }
  
    // .content-wrapper {
    //   box-shadow: 0 3px 20px 2px rgba(0, 0, 0, 0.08);
    //   padding: 1rem;
    //   background: linear-gradient(180deg, #d6d6d6 60%, #e20086 40%);
  
    //   .content-inner-wrapper {
    //     background: #fff;
    //     padding: 2.7rem;
  
        h2 {
          font-size: 2.5rem;
          font-weight: 600;
          color: #e20086;
        }
  
        h3 {
          font-size: 2rem;
        }
  
        h4 {
          font-size: 1.7rem;
  
          span {
            font-weight: 800;
          }
        }
  
        .steps {
          ul {
            li {
              font-size: 1.4rem;
              position: relative;
  
              &::before {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                background: #e20086;
                top: 12px;
                left: -25px;
              }
  
              a {
                color: #e20086;
              }
            }
          }
        }
    //   }
    // }
  //}
  