

<div class="login-card-inner-wrapper d-flex position-relative">
    <div class='container'>
        <div class="login-card-wrapper position-relative">
            <div class='row'>
                <div class="col-md-5">
                    <div class="login-logo-wrapper">
                        <div class="login-logo-inner-wrapper">
                        <img src="../assets/company-logo.png" alt="Company Logo"/>
                    </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="login-form-wrapper signup-form-wrapper position-relative">
                        <h2 class="login-title">Signup</h2>
                        <form>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Name" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Email Id">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Password">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Confirm Password">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12 d-grid">
                                    <button type="submit" routerLink="../dashboard" class="btn btn-primary login-btn">Signup</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center"> Already have an account ? <a href=#
                                            class="signup-link" routerLink="../login">Login here</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

