<div class="content-outer-wrapper d-flex justify-content-start">
  <div class="container-fluid ">
  <!-- <div class="row"> -->
  <!-- <div class="col-md-2"></div> -->
  <div class="col-md-12">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
     <div class="carousel-indicators">
               <button
                 type="button"
                 data-bs-target="#carouselExampleIndicators"
                 data-bs-slide-to="0"
                 class="active"
                 aria-current="true"
                 aria-label="Slide 1"
               ></button>
               <button
                 type="button"
                 data-bs-target="#carouselExampleIndicators"
                 data-bs-slide-to="1"
                 aria-label="Slide 2"
               ></button>
               <button
                 type="button"
                 data-bs-target="#carouselExampleIndicators"
                 data-bs-slide-to="2"
                 aria-label="Slide 3"
               ></button>
               <button
                 type="button"
                 data-bs-target="#carouselExampleIndicators"
                 data-bs-slide-to="2"
                 aria-label="Slide 4"
               ></button>
             </div> 
      
      
      <div class="carousel-inner">

        <!-- 1st slide of carousel -->

        <div class="carousel-item active">
          <div class="content-wrapper">
            <div class="content-inner-wrapper">
                  <app-carousel
                  [title]="contentData.title"
                  [subTitle]="contentData.subTitle"
                  [performer]="contentData.performer"
                  [imageSrc]="contentData.imageSrc"
                  [modalId]="contentData.modalId"
                  [modalTarget]="contentData.modalTarget"
                  [activeTab]="activeTab"
                  [videoData]="videoData"   
                  [localData]="localData"  
                ></app-carousel>
                 <!-- pms-content.component.html -->              
              </div>
            </div>
          </div>
        </div>

        <!-- 2nd slide of carousel -->
        <div class="carousel-item">
          <div class="content-wrapper">
            <div class="content-inner-wrapper">
              <app-carousel
                  [title]="contentData1.title"
                  [subTitle]="contentData1.subTitle"
                  [performer]="contentData1.performer"
                  [imageSrc]="contentData1.imageSrc"
                  [modalId]="contentData1.modalId"
                  [modalTarget]="contentData1.modalTarget"
                  [activeTab]="activeTab"
                  [videoData]="videoData"   
                  [localData]="localData"  
                ></app-carousel>
            </div>
          </div>
        </div>

        <!-- 3rd slide of carousel -->

        <div class="carousel-item">
          <div class="content-wrapper">
            <div class="content-inner-wrapper">
              <app-carousel
              [title]="contentData.title"
              [subTitle]="contentData.subTitle"
              [performer]="contentData.performer"
              [imageSrc]="contentData.imageSrc"
              [modalId]="contentData.modalId"
              [modalTarget]="contentData.modalTarget"
              [activeTab]="activeTab"
              [videoData]="videoData"   
              [localData]="localData"  
            ></app-carousel>
            </div>
          </div>
        </div> 
<!-- new created slides -->
        <div class="carousel-item">
          <div class="content-wrapper">
            <div class="content-inner-wrapper">
              <div *ngFor="let slide of slides" class="carousel-item">
                <app-carousel
                  [title]="slide.title"
                  [subTitle]="slide.subTitle"
                  [performer]="slide.performer"
                  [imageSrc]="slide.image"
                ></app-carousel>
              </div>
            </div>
          </div>
        </div> 

      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"
          ><i class="bi bi-chevron-left"></i
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"
          ><i class="bi bi-chevron-right"></i
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- </div> -->

<!-- </div> -->
</div>
