
<!-- create-slide.component.html -->
<div class="content-outer-wrapper d-flex justify-content-start">
  <div class="container content-wrapper">
    <div class="content-inner-wrapper">
      <h2>Create Slide</h2>
      <form [formGroup]="slideForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title" required>
        </div>
        <div class="mb-3">
          <label for="subtitle" class="form-label">Subtitle</label>
          <input type="text" class="form-control" id="subtitle" formControlName="subtitle">
        </div>
        <div class="mb-3">
          <label for="performer" class="form-label">Performer</label>
          <input type="text" class="form-control" id="performer" formControlName="performer">
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input type="file" class="form-control" id="image" (change)="onImageChange($event)" accept="image/*">
        </div>

        <div class="mb-3">
          <label for="videos" class="form-label" style="margin-right: 20px;">Videos</label>        
          <!-- FormArray for External Videos -->
          <div formArrayName="externalVideos">
          <button type="button" class="btn btn-success mb-2" (click)="addExternalVideo()">Add External Video</button>
            <div *ngFor="let video of externalVideos.controls; let i = index" class="mb-2">
              <div [formGroupName]="i" class="input-group">
                <input type="text" class="form-control" formControlName="videoTitle" placeholder="Video Title" required>
                <input type="text" class="form-control" formControlName="videoDescription" placeholder="Video Description">
                <input type="text" class="form-control" formControlName="youtubeUrl" placeholder="YouTube Video URL">
                <button type="button" class="btn btn-danger" (click)="removeVideo('externalVideos', i)">Remove Video</button>
              </div>
            </div>
          </div>    
        </div>
        
        <!-- FormArray for Internal Videos -->
        <div formArrayName="internalVideos">
        <button type="button" class="btn btn-success mb-2" (click)="addInternalVideo()">Add Internal Video</button>
          <div *ngFor="let video of internalVideos.controls; let i = index" class="mb-2">
            <div [formGroupName]="i" class="input-group">
              <input type="text" class="form-control" formControlName="videoTitle" placeholder="Video Title" required>
              <input type="text" class="form-control" formControlName="videoDescription" placeholder="Video Description">
              <input type="file" class="form-control" formControlName="localVideoFile" placeholder="Local Video File">
              <button type="button" class="btn btn-danger" (click)="removeVideo('internalVideos', i)">Remove Video</button>
            </div>
          </div>
        </div>
        
        
        
        <!-- Checkbox for selecting modules -->
        <div class="form-check form-check-inline mt-3" *ngFor="let module of modules">
          <input
            class="form-check-input magenta"
            type="radio"
            [id]="module"
            [value]="module"
            [formControl]="moduleControls[module]"
            name="selectedModule"
          />
          <label class="form-check-label module" [for]="module">{{ module }}</label>
        </div>

        <button type="submit" class="btn btn-primary btn-xl">Submit</button>
      </form>
    </div>
  </div>
</div>
