<div class="imedone-flow-wrap mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="flow-wrap">
          <div class="flow-head-wrap py-2">
            <div class="flow-header py-2">
              <h3 class="text-center mb-0">iMedOne Flow</h3>
            </div>
            <div class="flow-subheader text-center">
              <div class="flow-subheader-inner text-center d-inline-block p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item me-3 d-none">
                    <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#imedOneFlow">ImedOne</button>
                  </li>
                  <li class="nav-item me-3">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pmsFlow">PMS</button>
                  </li>
                  <li class="nav-item me-3">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#careFlow">Care</button>
                  </li>
                  <li class="nav-item me-3">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#lsmFlow">LSM</button>
                  </li>
                  <li class="nav-item me-3">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#docFlow">DOC.OP</button>
                  </li>
                  <li class="nav-item me-3">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#billingFlow">Billing</button>
                  </li>
                  <li class="nav-item me-3">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#askFlow">AMS</button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#grmFlow">GRM</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="flow-content position-relative p-4">

            <div class="tab-content">
              <div class="tab-pane show active" id="imedOneFlow">
                <div class="row">
                  <div class="col-md-12">
                    <div class="flow-content-img-wrap text-center">
                      <img src="../../../assets/iMedOne-Flow/iMedOneFlow.jpg" alt="iMedOneFlow" class="w-100">
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane show" id="pmsFlow">
                <div class="row">
                  <div class="col-md-12">
                    <div class="flow-content-img-wrap text-center">
                      <img src="../../../assets/iMedOne-Flow/PMS-IN-IMEDONE FLOW.jpg" alt="PMS Flow" class="w-100">
                      <input type="checkbox" id="check"> <label class="btn btn-primary info-btn chat-btn " for="check"> <i
                        class="bi bi-info-circle"></i> </label>
                    <div class="wrapper">
                      <div class="header">
                        <h5>PMS Flow</h5>
                      </div>
                      <div class="py-2 px-3 text-start">
                        <p>1. Patient Management System (PMS)  is maintenance and documentation of Patient’s administrative data in a Hospital Information System (HIS). 
                        </p>
                          <p>
                          2. PMS is heart module of iMedOne.
                        </p>  
                          
                     
                        <button  type="button" class="btn btn-primary coloured-btn" routerLink="../pmsFlow">Read More</button>
                      </div>
                   
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="careFlow">
                <div class="row">
                  <div class="col-md-12">
                    <div class="flow-content-img-wrap text-center">
                      <img src="../../../assets/iMedOne-Flow/CARE-IN-IMEDONE FLOW.jpg" alt="Care Flow" class="w-100">
                      <input type="checkbox" id="checkCare"> <label class="btn btn-primary info-btn chat-btn " for="checkCare"> <i
                        class="bi bi-info-circle"></i> </label>
                    <div class="wrapper">
                      <div class="header">
                        <h5>Care Flow</h5>
                      </div>
                      <div class="py-2 px-3 text-start">
                        <p>1. The purpose of this module is to facilitate the planning and documentation of nursing care for Wards. </p> 
                        <p>2. Care module also enables the generation of resource data that can be
                           shared with the Govt. for further analysis and utilization.
                          </p>
                          <button  type="button" class="btn btn-primary coloured-btn" routerLink="../careFlow">Read More</button>
                      </div>
                   
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="lsmFlow">
                <div class="row">
                  <div class="col-md-12">
                    <div class="flow-content-img-wrap text-center">
                      <img src="../../../assets/iMedOne-Flow/LSM-IN-IMEDONE FLOW.jpg" alt="LSM Flow" class="w-100">
                      <input type="checkbox" id="checkLsm"> <label class="btn btn-primary info-btn chat-btn " for="checkLsm"> <i
                        class="bi bi-info-circle"></i> </label>
                    <div class="wrapper">
                      <div class="header">
                        <h5>LSM Flow</h5>
                      </div>
                      <div class="py-2 px-3 text-start">
                        <p>1. Leistung stelle  Management (LSM) is a module that handles all the services related to Radiology, Physiotherapy, and Psychiatry. 
                        </p>
                           <button  type="button" class="btn btn-primary coloured-btn"  routerLink="../lsmFlow">Read More</button>
                      </div>
                   
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="docFlow">
                <div class="row">
                  <div class="col-md-12">
                    <div class="flow-content-img-wrap text-center">
                      <img src="../../../assets/iMedOne-Flow/DOC-OP-IN-IMEDONE FLOW.jpg" alt="DOC.OP Flow" class="w-100">
                      <input type="checkbox" id="checkDoc"> <label class="btn btn-primary info-btn chat-btn " for="checkDoc"> <i
                        class="bi bi-info-circle"></i> </label>
                    <div class="wrapper">
                      <div class="header">
                        <h5>DOC.OP Flow</h5>
                      </div>
                      <div class="py-2 px-3 text-start">
                        <p>1. DOC.OP or Surgery documentation module allows to store and manage all kinds of data related to Docuobjects, such as the ones needed for the Operations.
                        </p>
                        <button  type="button" class="btn btn-primary coloured-btn"  routerLink="../docopFlowPage">Read More</button>
                      </div>
                   
                    </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="billingFlow">
                <div class="row">
                  <div class="col-md-12">
                    <div class="flow-content-img-wrap text-center">
                      <img src="../../../assets/iMedOne-Flow/BILLING-IN-IMEDONE FLOW.jpg" alt="Billing Flow" class="w-100">
                      <input type="checkbox" id="checkBilling"> <label class="btn btn-primary info-btn chat-btn " for="checkBilling"> <i
                        class="bi bi-info-circle"></i> </label>
                    <div class="wrapper">
                      <div class="header">
                        <h5>Billing Flow</h5>
                      </div>
                      <div class="py-2 px-3 text-start">
                        <p>1. The billing module in hospital allows to manages the financial
                           transactions related to the services provided by the hospital.
                        </p>      
                        <p>2. It allows the hospital staff to generate invoices, record payments,
                           track outstanding balances, and generate reports.
                         </p>
                         <button  type="button" class="btn btn-primary coloured-btn"  routerLink="../billingFlow">Read More</button>
                      </div>
                   
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="askFlow">
                <div class="row">
                  <div class="col-md-12">
                    <div class="flow-content-img-wrap text-center">
                      <img src="../../../assets/iMedOne-Flow/AMS-IN-IMEDONE FLOW.jpg" alt="AMS Flow" class="w-100">
                      <input type="checkbox" id="checkAms"> <label class="btn btn-primary info-btn chat-btn " for="checkAms"> <i
                        class="bi bi-info-circle"></i> </label>
                    <div class="wrapper">
                      <div class="header">
                        <h5>AMS Flow</h5>
                      </div>
                      <div class="py-2 px-3 text-start">
                        <p>1. Ambulant Management System is a module that helps to manage the activities 
                          related to the outpatient department (OPD) of a hospital.</p>
                          <p>2. It allows the staff to register, schedule, and monitor 
                          the patients who visit the OPD for diagnosis, treatment, or consultation.
                          </p>
                          <button  type="button" class="btn btn-primary coloured-btn"  routerLink="../amsFlowPage">Read More</button>
                      </div>
                   
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="grmFlow">
                <div class="row">
                  <div class="col-md-12">
                    <div class="flow-content-img-wrap text-center">
                      <img src="../../../assets/iMedOne-Flow/GRM-IN-IMEDONE FLOW.jpg" alt="GRM Flow" class="w-100">
                      <input type="checkbox" id="checkGrm"> <label class="btn btn-primary info-btn chat-btn " for="checkGrm"> <i
                        class="bi bi-info-circle"></i> </label>
                    <div class="wrapper">
                      <div class="header">
                        <h5>GRM Flow</h5>
                      </div>
                      <div class="py-2 px-3 text-start">
                        <p>1. The Global Resource Management (GRM) Planning module allows to create a comprehensive plan for patient's case, involving different entities as needed.
                        </p>
                        <button  type="button" class="btn btn-primary coloured-btn"  routerLink="../grmFlow">Read More</button>
                      </div>
                   
                    </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            
          </div>
        </div>
      </div>
    </div>