<div class="page-wrapper">
    <div class="sidebar position-relative">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="" class="navbar-brand my-4 ms-3"><img _ngcontent-upr-c1="" src="../assets/company-logo.png"
                        alt="Company Logo"></a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigationBar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navigationBar">
                    <ul class="navbar-nav navigation-top-link">
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="dashboard"><i class="bi bi-house-door me-3"></i><span>Dashboard</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i
                                    class="bi bi-speedometer2  me-3"></i><span>vishay</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-bug  me-3"></i><span>Forum</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-grid  me-3"></i><span>Library</span> </a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-people  me-3"></i><span>My Profile</span></a>
                        </li>
                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../askme"><i class="bi bi-question-circle  me-3"></i><span>Ask me</span></a>
                        </li>

                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../chatbot"><i class="bi bi-question-circle  me-3"></i><span>Chat</span></a>
                        </li>

                        <!-- <li class="nav-item mb-2">
                            <a href="#" class="nav-link" routerLink="../chatQuestion"><i class="bi bi-question-circle  me-3"></i><span>Questions</span></a>
                        </li> -->

                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link disabled"><i class="bi bi-gear  me-3"></i><span>Settings</span></a>
                        </li>
                     
                    </ul>
                   <ul class="navbar-nav d-flex">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link"><i class="bi bi-box-arrow-right  me-3"></i></a>
                    </li>
                   </ul>
                </div>

            </div>
        </nav>
    </div>
    <div class="outer-content-wrapper">
        <div class="top-header py-2 pe-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 offset-md-7">
                        <div class="d-flex">
                            <div class="input-group me-3">
                                <input type="text" class="form-control common-form-control" placeholder="Search Here">
                                <button type="button" class="btn btn-primary search-btn"><i class="bi bi-search"></i></button>
                            </div>

                            <div class="list-group list-group-horizontal list-group-flush">
                                <a class="list-group-item list-group-action me-2 px-3" href="#"><i class="bi bi-bell"></i></a>
                                <a class="list-group-item list-group-action mx-2 px-3" href="#"><i class="bi bi-person"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="dashboard-fliter py-2 px-4">
            <div class="container-fluid">
                <div class="row mx-0 align-items-center">
                    <div class="col-md-4">
                        <div class="row  align-items-center">
                            <label for="" class="input-label common-form-label col-md-3">Select Role</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control common-form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row  align-items-center">
                            <label for="" class="input-label common-form-label col-md-3">Select Domain</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control common-form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <button type="button" class="btn btn-primary primary-btn coloured-btn btn-block">GO</button>
                            

                        <button type="button" class="btn btn-primary primary-btn coloured-btn btn-block" (click)="deleteSelectedCards()">Delete Selected</button>


                    </div>

                </div>
            </div>
        </div>

        <div class="inner-content-wrapper pt-4 pb-3 px-4">
            <div class="container-fluid">
<div class="row">

   
    <div class="col-md-10 offset-md-1">
                <div class="row mx-0 ">
                    <div class="col-md-6">
                        <h3 class="">iMedOne Knowledge</h3>
                    </div>
                    <div class="col-md-6">
                        <h3>Skill Knowledge</h3>
                    </div>
                </div>
                <div class="knowledge-wrapper pt-3">
                    <div class="row mx-0">
                        <div class="col-md-6">
                            <div class="row">
                                
                                <div class="col-md-12" *ngFor="let card of cards">
                                    <!-- <div class="card mb-3 py-2" routerLink="../imedOneFlow">
                                        <div class="card-body" >                            
                                            <h5 class="card-title common-card-title mb-3">iMedOne Overeview</h5>
                                            <h6 class="card-subtitle common-card-subtitle">Sub Topics(10)</h6>
                                        </div>
                                    </div> -->
                                    <!--***************************************new code starts************************************************************-->
                                    <!-- <div class="card mb-3 py-2" [class.disabled-card]="isCardDisabled">
                                        <div class="card-body d-flex justify-content-between align-items-center">
                                          <div>
                                            <h5 class="card-title common-card-title mb-3">
                                              <span *ngIf="!isEditing">{{ cardTitle }}</span>
                                              <span *ngIf="isEditing">
                                                <input type="text" class="form-control" [(ngModel)]="newCardName">
                                              </span>
                                            </h5>
                                            <h6 class="card-subtitle common-card-subtitle"  routerLink="../imedOneFlow">Sub Topics(10)</h6>
                                          </div>
                                      
                                          <div>
                                            <button type="button" class="btn btn-primary btn-sm coloured-btn" (click)="toggleEdit()" [disabled]="isCardDisabled">
                                              {{ isEditing ? 'Save' : 'Edit' }}
                                            </button>
                                      
                                            <button type="button" class="btn btn-primary btn-sm coloured-btn" (click)="deleteCard()" [disabled]="isCardDisabled">
                                              Delete
                                            </button>
                                          </div>
                                        </div>
                                      </div> -->   

                                      <!--*****************************new code with inline edit***********************************-->
                                      <div class="card mb-3 py-2" [class.disabled-card]="isCardDisabled">
                                        <div class="card-body d-flex justify-content-between align-items-center">
                                          <div (click)="startEditing()" *ngIf="!isEditing">
                                            <h5 class="card-title common-card-title mb-3">
                                              {{ cardTitle }}
                                            </h5>
                                            <h6 class="card-subtitle common-card-subtitle" routerLink="../imedOneFlow">Sub Topics(10)</h6>
                                          </div>
                                      
                                          <div *ngIf="isEditing">
                                            <input type="text" class="form-control" [(ngModel)]="newCardName" (blur)="stopEditing()">
                                          </div>
                                      
                                          <div>
                                            <input type="checkbox" [(ngModel)]="card.selected" />

                                          </div>
                                        </div>
                                      </div>
                                    </div>  
                                <!--***************************************new code with inline edit ends************************************************************-->
                                

                                <div class="col-md-12">
                                    <div class="card mb-3 py-2">
                                        <div class="card-body">
                                            <h5 class="card-title common-card-title mb-3">Admin</h5>
                                            <h6 class="card-subtitle common-card-subtitle">Sub Topics(0)</h6>
                                        </div>
                                    </div>

                                    <!--new code starts-->
                                    <!-- <div class="card mb-3 py-2" [class.disabled-card]="isCardDisabled">
                                        <div class="card-body d-flex justify-content-between align-items-center">
                                          <div>
                                            <h5 class="card-title common-card-title mb-3">
                                              <span *ngIf="!isEditing">{{ cardTitle }}</span>
                                              <span *ngIf="isEditing">
                                                <input type="text" class="form-control" [(ngModel)]="newCardName">
                                              </span>
                                            </h5>
                                            <h6 class="card-subtitle common-card-subtitle"  routerLink="../imedOneFlow">Sub Topics(0)</h6>
                                          </div>
                                      
                                          <div>
                                            <button type="button" class="btn btn-primary btn-sm coloured-btn" (click)="toggleEdit()" [disabled]="isCardDisabled">
                                              {{ isEditing ? 'Save' : 'Edit' }}
                                            </button>
                                      
                                            <button type="button" class="btn btn-primary btn-sm coloured-btn" (click)="deleteCard()" [disabled]="isCardDisabled">
                                              Delete
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                    -->
                                <!--***************************************new code ends************************************************************-->
                                    <!--new code ends-->
                                </div>

                                <div class="col-md-12">
                                    <div class="card mb-3 py-2">
                                        <div class="card-body">
                                            <h5 class="card-title common-card-title mb-3">Rights</h5>
                                            <h6 class="card-subtitle common-card-subtitle">Sub Topics(0)</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="card mb-3 py-2">
                                        <div class="card-body">
                                            <h5 class="card-title common-card-title mb-3">GSUS</h5>
                                            <h6 class="card-subtitle common-card-subtitle">Sub Topics(0)</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card mb-3 py-2">
                                        <div class="card-body">
                                            <h5 class="card-title common-card-title mb-3">ISUS</h5>
                                            <h6 class="card-subtitle common-card-subtitle">Sub Topics(0)</h6>
                                        </div>
                                    </div>
                                </div>

       
                               
                               


                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card mb-3 py-2">
                                        <div class="card-body">
                                            <h5 class="card-title common-card-title mb-3">C#</h5>
                                            <h6 class="card-subtitle common-card-subtitle">Sub Topics(0)</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="card mb-3 py-2">
                                        <div class="card-body">
                                            <h5 class="card-title common-card-title mb-3">Angular</h5>
                                            <h6 class="card-subtitle common-card-subtitle">Sub Topics(0)</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="card mb-3 py-2">
                                        <div class="card-body">
                                            <h5 class="card-title common-card-title mb-3">Javascript</h5>
                                            <h6 class="card-subtitle common-card-subtitle">Sub Topics(0)</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="card mb-3 py-2">
                                        <div class="card-body">
                                            <h5 class="card-title common-card-title mb-3">Python</h5>
                                            <h6 class="card-subtitle common-card-subtitle">Sub Topics(0)</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="card mb-3 py-2">
                                        <div class="card-body">
                                            <h5 class="card-title common-card-title mb-3">Ruby</h5>
                                            <h6 class="card-subtitle common-card-subtitle">Sub Topics(0)</h6>
                                        </div>
                                    </div>
                                </div>

                  

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="dashboard-footer pe-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-end">
                        <button type="button" class="btn btn-primary grey-btn me-3">Clear</button>
                        <button type="button" class="btn btn-primary coloured-btn">Start Learning</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>