<div class="imedone-flow-wrap mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="flow-wrap">
            <div class="flow-head-wrap py-2">
              <div class="flow-header py-2">
                <h3 class="text-center mb-0">iMedOne</h3>
              </div>
              <div class="flow-subheader text-center">
                <div class="flow-subheader-inner text-center d-inline-block p-2">
                  <h5 class="mb-0">GRM Flow</h5>
                </div>
              </div>
            </div>
            <div class="flow-content p-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="flow-content-img-wrap position-relative text-center">
                    <img src="../../../assets/iMedOne-Flow/GRM FLOW.jpg " alt="iMedOneFlow" class="w-100">
                    <input type="checkbox" id="checkGrm"> <label class="btn btn-primary info-btn chat-btn " for="checkGrm"> <i
                      class="bi bi-info-circle"></i> </label>
                  <div class="wrapper">
                    <div class="header">
                      <h5>GRM Flow</h5>
                    </div>
                    <div class="py-2 px-3 text-start">
                      <p>1. The Global Resource Management (GRM) Planning module allows to create a comprehensive plan for patient's case, involving different entities as needed.
                      </p>
                      <button  type="button" class="btn btn-primary coloured-btn" routerLink="/grmContent">Read More</button>
                    </div>
                 
                  </div>
                  </div>
                </div>
              </div>
              
            </div>
  
          </div>
        </div>
  
      </div>
  

