
    <div class="login-card-inner-wrapper d-flex position-relative">
    <div class='container'>
        <div class="login-card-wrapper position-relative">
            <div class='row'>
                <div class="col-md-5">
                    <div class="login-logo-wrapper">
                        <div class="login-logo-inner-wrapper">
                        <img src="../assets/company-logo.png" alt="Company Logo"/>
                    </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="login-form-wrapper position-relative">
                        <h2 class="login-title">Login</h2>
                        <form>
                            <div class="row mb-3">
                              
                                <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Username"/>
                            </div>
                            </div>
                            <div class="row mb-3">
                            
                               <div class="col-md-12">
                               <input type="text" class="form-control" placeholder="Password">
                            </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 d-grid">
                                    <button  routerLink="../dashboard" type="submit" class="btn btn-primary login-btn1">Login</button>
                                    <button  routerLink="../Admin_dashboardComponent" type="submit" class="btn btn-primary login-btn2">Admin Login</button>
                                
                                    <!-- <button routerLink="../dashboard" type="button" class="btn btn-primary">Primary</button>
                                    <button routerLink="../dashboard" type="button" class="btn btn-secondary">Secondary</button> -->
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center"> Don't have an account ? <a routerLink="../signup" class="signup-link">Sign Up now</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

