<div class="page-wrapper">
    <div class="sidebar">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="" class="navbar-brand">Logo</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigationBar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navigationBar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Dahsboard</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Ask Me</a>
                        </li>
                        <li>
                            <a href="#" class="nav-link">Ask Me2</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
    <div class="outer-content-wrapper">

        <div class="top-header">
            <div class="list-group list-group-horizontal list-group-flush">
                <a class="list-group-item list-group-action" href="#"><i class="bi bi-bell"></i></a>
                <a class="list-group-item list-group-action" href="#"><i class="bi bi-person"></i></a>
                <a class="list-group-item list-group-action" href="#"><i class="bi bi-person"></i></a>
            </div>
        </div>
        <div class="inner-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading-section">
                            <h3>Knowledge Topics</h3>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search here..">
                            <button type="button" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
                <div class="knowledge-topics">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-icon"></div>
                                    <h5 class="card-title">UI/UX Training</h5>
                                    <h6>Phase1</h6>
                                    <a href="" class="btn btn-primary">Click Here</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-icon"></div>
                                    <h5 class="card-title">UI/UX Training</h5>
                                    <h6>Phase1</h6>
                                    <a href="" class="btn btn-primary">Click Here</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-icon"></div>
                                    <h5 class="card-title">UI/UX Training</h5>
                                    <h6>Phase1</h6>
                                    <a href="" class="btn btn-primary">Click Here</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-icon"></div>
                                    <h5 class="card-title">UI/UX Training</h5>
                                    <h6>Phase1</h6>
                                    <a href="" class="btn btn-primary">Click Here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="heading-section">
                            <h3>Upcoming Trainings</h3>
                        </div>
                    </div>

                </div>

                <div class="upcoming-trainigs">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Angular Training</h5>
                                    <a href="" class="btn btn-primary">Click here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>